<% title "Question" %>

<p>
  <strong>Type:</strong>
  <%=h @question.type %>
</p>
<p>
  <strong>Text:</strong>
  <%=h @question.text %>
</p>
<p>
  <strong>Quiz:</strong>
  <%=h @question.quiz_id %>
</p>

<p>
  <%= link_to "Edit", edit_question_path(@question) %> |
  <%= link_to "Destroy", @question, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", questions_path %>
</p>
